<div class="container">

  <app-draggable-pie-chart #pieComp [data]="pieData" (sliceDragged)="sliceDragged($event)"></app-draggable-pie-chart>

  <div class="controllers">
      <strong>chart updates propagated onBlur</strong>

    <div class="labels">
        <mat-form-field *ngFor="let data of uiData; let i=index">
            <input matInput placeholder="Slice Label" [ngModel]="data.label" (change)="updateLabel($event.target.value, i)">
          </mat-form-field>
    </div>
    <div class="values">
        <mat-form-field *ngFor="let data of uiData; let i=index">
            <input type="number" matInput placeholder="{{data.label}}" [ngModel]="data.value | number" (change)="updateValue($event.target.value, i)">
          </mat-form-field>

    </div>

    <div class="colors">
        <mcc-color-picker *ngFor="let data of uiData; let i=index" [selectedColor]="data.color" (selected)="colorSelected($event, i)"></mcc-color-picker>
    </div>


  </div>
</div>
